*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.inicio{
    padding: 30px;
}

.button{
    margin-left: 90%;
    width: 50px;
    height: 20px;
    font-size: 15px;
}



.Button{
    display: flex;
    margin-left: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:white;
    background-color: blue;
    border-color:blue;
    padding: 6px;
    gap:3px;
    border-radius: 3px;
}

.contenedor{
    display: flex;
    gap:7px;
    margin:20px;
}

.Eliminar{
     color:blue;
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     background-color: transparent;
     border:none;
}

.Usuarios{
    color: black;
    display: block;

}

.end{
display: flex;
justify-content: space-between;
align-items: center;
}

.tabla{
    width: 95%;
    padding: 30px;
}

.item table{
    width: 100%;
}

.tabla tr th{
    border: 1px solid #ccc;
    padding: 30px 0px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.tabla tr td {
    border: 1px solid #ccc;
    padding: 30px 0px 0px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
}



.fa-trash{
    color:rgb(131, 128, 128);
    padding: 5px;
    width: 25px;

}

.final{
    width: 15%;
    color:blue;
    display: flex;
}

.final>button{
    border-color: #e4e2e2;
    padding: 6px;
    
}

.uno{
    background-color: blue;
    color:white;
}

.dos{
  color:blue;
}

.Siguiente{
    color:blue;
}

.Anterior{
    color:#6f6c6c
}
.modal{
    width: 70%;
    height: 500px;
    background-color: rgb(242, 242, 243);
    position: fixed;
    top:100px;
    left:100px;
    justify-content: center;
}

.Ingresar{
    padding: 10px;
    margin:6px;
  
}


.Img{
    padding:20px;
    margin: 15px;
}

.Seleccionar{
    background-color: rgb(144, 144, 215);
    width: 20%;
    height: 50px;
    border-color: rgb(153, 153, 242);
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    padding: -50px;
    
}

.Datos{
    display:flex;
    margin:20px;
    gap:8px;
    justify-content: center;
}

.datos{
    display: flex;
    gap: 17px;
    justify-content: center;
}

.Nombre{
    padding: 20px;
    margin-right: 1px;
}

.Apellido{
    padding: 20px;
    margin-right: 1px;
}
.E-mail{
    padding: 20px;
    margin-right: 1px;

}

.Tipo{
    padding: 20px;
    margin-right: 1px;
}

.Salir{
    background-color: red;
    border-color: red;
    width: 50px;
    height: 50px;
}

.Guardar{
    background-color: rgb(5, 173, 53);
    border-color: rgb(5, 173, 53);
    margin-left: 80%;
    width: 80px;
    height: 50px;
}

.botonesFinal{
    display: flex;
    position: relative; 
    color: white;
    gap:6px;
}

